html, body{
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

#top, #bottom, #left, #right {
	background: black;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

header h1{
	font-size: 100px;
	margin-top: 4%;
	margin-bottom: 0;
}

img{
	width: 40%;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}

#navigation{
	margin-bottom: 0;
}

ul{
	margin: 0;
	padding:5%;
}

li{
	list-style-type: none;
	font-size: 20px;
	padding: 1%;
}

a{
	color: black;
	text-decoration: none;
	padding: 0.5% 1%;
}
a:hover{
	background: black;
	color: white;}
}