*{
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: 'Nunito', sans-serif;
	max-width: 100%;
}

header{
	position: absolute;
	top: 15%;
	width: 100%;
}

h1{
	font-size: 100px;
	text-align: center;
}

h2{
	font-size: 60px;
	text-align: center;
}

#navigation{
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	z-index: 1;
}

li{
	list-style-type: none;
	padding: 0% 0.5% 1% 6.7%;
	float: left;
}

li a{
	text-decoration: none;
	color: white;
}

main{
	position: absolute;
	top: 100%;
}

#portfolio{
	margin-left: 9%;
	width: 90%;
	padding-top: 5%;
	margin-bottom: 20%;
}

#portfolio div{
	float: left;
	display: inline-block;
	padding-right: 5%;
	font-size: 24px;
	text-align: center;
}

#portfolio img{
	height: 500px;
}

#portfolio a{
	color: black;
}

#about{
	clear: both;
	width: 60%;
	margin-left: 20%;
	padding-top: 15%;
}

#contact{  
	width: 30%;
	margin-left: 35%;
	padding-top: 23%;
	padding-bottom: 20%;
}